@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.mycontainer{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../imgs/index.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo h3{
    font-size: 1.70rem;
    color: #ffff;
    
    
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    flex: 1;
    text-align: right;
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: #ffff;
}


#mysection{
    display: flex;
    height: 88%;
    align-items: center;
    
}

#mysection .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-welcome h1{
    font-size: 3rem;
    color: #ffff;
}

.text-welcome p{
    font-size: 1.10rem;
    text-align: center;
    color: #ffff;
    margin: 1.5rem auto;
}

.mybtn{
    margin: 40px auto 0;
}

.mybtn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #ffff;
    position: relative;
    z-index: 1;
    text-align: center;
    transition: color 0.5s ;
}

.mybtn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffff;
    z-index: -1;
    transition: 0.5s ;

}

.mybtn a:hover span{
    width: 100%;
}

.mybtn a:hover{
    color: #000;
}

.about{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../imgs/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#about-sec{
    height: 88%;
    display: flex;
    align-items: center;
}

.col-about{
    width: 50%;
    align-items: center;
    margin-right: 1.5rem;
}

.about-desc p{
    font-size: 1.10rem;
}

.col-text{
    background-color: rgba(221, 226, 225, 0.815);
    padding: 16px;
    border-radius: 8%;
    text-align: center;
}

#img-about{
    width: 100%;
    
}


/* SIDE NAVBAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #b1b0b0;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .open-sidebar{
    font-size:1.5rem;
    cursor:pointer;
    color: #ffff;
  }
